<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="williamMain.html"> 
	<div class="item">
		<h2>{{data.value.message}}</h2>
	</div>
		
	<div class="item item-text-wrap item-icon-right" ng-repeat="item in items.value" ng-click="showDetails(item)">
		<span class="itemName">{{item.title}}</span>
		<p>
			<span ng-repeat= "tag in item.tags">
				[{{tag}}]
			</span>
		</p>
	
		 <i class="ion-chevron-right icon"></i>
	</div>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="williamDetails.html"> 
	<div class="item">
		<h2>{{detailsItem.value.title}}</h2>
		<p><span ng-repeat= "tag in detailsItem.value.tags">[{{tag}}]</span> </p>
	</div>
	<div class="item item-text-wrap"><p>{{detailsItem.value.details}}</p></div>
</script>